version: '3.8'

services:
  mammamia:
    build: ./nuovaversioneMA
    container_name: mammamia
    env_file:
      - ./.env
    restart: unless-stopped
    networks:
      - proxy

networks:
  proxy:
    external: true
